
* {
    margin: 0px;
    padding: 0px;
    font-family: Inter;
    
    
}

:root {
    --main-color: #007E7E;
}

/*********************************************** Header Styles **************************************************/
.header .nav-item {
    margin: auto 1rem;
}
.header .nav-item a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}
.header .title {
    color: var(--main-color);
    font-weight: 200;
    font-size: 40px;
    text-transform: capitalize;
    text-decoration: none;
    align-items: center;
}
.header select {
    border: none;
}

/*********************************************** Hero Styles **************************************************/
.hero {
    background-image: url(./Images/herobg.png);
    background-size: cover;
    background-position: no-repeat;
    width: 100%;
    height: 70vh;
    opacity: 1;
    display: grid;
    grid-template-columns: repeat(2,1fr);    
} 
.hero .container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 125px;
    bottom: 75px;
}
.hero svg{
    width: 500px;
    height: 410px;
    position: relative;
    left: 100px;
    top: 100px;
}
.container1 h2 {
    color: white;
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    color: white;
    text-shadow: 0 0.5px 0 #ccc,
                    0 1px 0 #c9c9c9,
                    0 1.5px 0 #bbb,
                    0 2px 0 #b9b9b9,
                    0 2.5px 0 #aaa,
                    0 6px 1px rgba(0,0,0,.1),
                    0 0 5px rgba(0,0,0,.1),
                    0 1px 3px rgba(0,0,0,.3),
                    0 3px 5px rgba(0,0,0,.2),
                    0 5px 10px rgba(0,0,0,.25),
                    0 10px 10px rgba(0,0,0,.2),
                    0 20px 20px rgba(0,0,0,.15);
}
.container1 .search input {
    width: 400px;
    border-radius: 15px;
    border: 2px solid var(--main-color);
    height: 40px;
    padding: 10px;
}

@media (min-width: 320px) and (max-width: 425px) {
    .container1 .search input {
        width: 300px;
        border-radius: 15px;
        border: 2px solid var(--main-color);
        height: 40px;
        padding: 10px;
    }
    
    
}

.container1 .search input:focus {
    outline: none;
}
.container1 .search {
    padding: 3rem;
}
.container1 button{
    border-radius: 7px;
    border: none;
    height: 40px;
    padding: 5px 20px ;
    background-color: #0E8585;
    color: white;
    font-weight: bold;
    width: 150px;
    justify-self: center;
    align-self:center;  
    box-shadow: 0px 0px 25px rgb(255, 255, 255), 0px 4px 25px rgb(255, 255, 255), 0px -4px 25px rgb(255, 255, 255); 
}
/*********************************************** Sponser Styles **************************************************/
.sponsers{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 2rem 7rem;
}
.sponsers img{
    height: 75px;
	width: 10%;
	aspect-ratio: 3/2;
	object-fit:contain;
}
/*********************************************** Outcomes Styles **************************************************/
.outcomes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: blueviolet;
}

/* --------------------------------------------- Media Query styles --------------------------------------------- */
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .hero svg {
        height: 70vh;
        width: 400px;
        left: 25px;
        top: 5px;
    }
    .hero .container1 {
        left: 75px;
        bottom: 110px;
    }
    .container1 h2 {
        font-size: 25px;
        font-weight: 700;
    }
    .container1 .search input {
        width: 300px;
        height: 35px;
    }
    .container1 .search {
        padding: 2rem;
    }
    .container1 button{
        height: 30px;
        width: 100px;
        font-size: x-small;
        font-weight: 100;
    }
    
}


@media only screen and (min-width: 768px) and (max-width: 992px) {
    .hero svg {
        height: 60vh;
        width: 350px;
        left: 10px;
        top: 5px;
    }
    .hero .container1 {
        left: 60px;
        bottom: 130px;
    }
    .container1 h2 {
        font-size: 20px;
        font-weight: 600;
    }
    .container1 .search input {
        width: 250px;
        height: 30px;
        font-size: smaller;
    }
    .container1 .search {
        padding: 1rem;
    }
    .container1 button{
        height: 30px;
        width: 80px;
        font-size: 7px;
        font-weight: 100px;
    }
    
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
    .hero {
        grid-template-columns: repeat(2,1fr);    
    }
    .hero svg {
        height: 60vh;
        width: 300px;
        left: 0px;
        top: 0px;
    }
    .hero .container1 {
        left: 0px;
        bottom: -115px;
    }
    .container1 h2 {
        font-size: 20px;
        font-weight: 600;
    }
    .container1 .search input {
        width: 250px;
        height: 30px;
        font-size: smaller;
    }
    .container1 .search {
        padding: 1rem;
    }
    .container1 button{
        height: 30px;
        width: 80px;
        font-size: 7px;
        font-weight: 100px;
    }
    /* .hero .container1 {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content:center;
        align-items: center;
        flex-direction: row-reverse;
    }
    .hero .container1 svg{
        width: 300px;
        height: 300px;
    }
    .hero h2{
        color: var(--main-color);
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
    }
    .container .sponsers img{
        height: 30px;
    }
    .container .sponsers svg{
        height: 30px;
    } */
}
@media only screen and (min-width: 480px) and (max-width: 576px){
    .hero {
        display: block;
    }
    .hero svg{
        display: none;
    }
    .hero .container1 {
        left: 0px;
        bottom: -110px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 480px){
    .hero svg{
        display: none;
    }
    .hero .container1 {
        left: 0px;
        bottom: 0px;
    }
}
@media only screen and (max-width: 320px){
    .hero svg{
        display: none;
    }
    .hero .container1 {
        left: 10px;
        bottom: 0px;
    
    }
     .container1 h2 {
        font-size: 20px;
        font-weight: 600;
    }
    .container1 .search input {
        width: 250px;
        height: 30px;
        font-size: smaller;
    }
}


/* sponser section starts */


.ss .sponser{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}

.ss.sponser #svg3{
    padding-bottom: 10px;

}


.ss .sponser #svg4{
    background-color: black;
    color: white;
    padding: 5px 5px 5px 5px;
    height: 35px;
    font-weight: lighter;
}
.ss .sponser #svg5{
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxZQnmJNUGMWu7j660pECP9Emh_aZw9ytG3-q8Sms2i_jBki27yXSnF14Tk9d-_VyF3JI&usqp=CAU");
    color: white;
    font-weight: bolder;
    padding: 4px;
    border-radius: 13px;
}
@media only screen and (min-width: 320px) and (max-width: 480px){
 

    .ss .sponser{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100px;
    }
    
    .ss .sponser svg{
        height: 40px;
        width: 40px;
    }
    
    .ss .sponser #svg4{
        background-color: black;
        color: white;
        padding: 5px;
        font-weight: lighter;
        height: 30px;
        width: 60px;
        padding-top: 10px;
        font-size: 0.5rem;
    }
    .ss .sponser #svg5{
        background: url("https://burst.shopifycdn.com/photos/a-view-of-the-stars-on-night-sky.jpg?width=1000&format=pjpg&exif=0&iptc=0");
        color: white;
        font-weight: bolder;
        padding: 4px;
        border-radius: 13px;
        text-align: center;
        height: 30px;
        width: 50px;
        padding-top: 10px;
        font-size: 0.4rem;
    }
}











/* sponser section ends */


/* purple starts */
.purple {
    width: 98vw;
    height: 20vh;
    border-radius: 12px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: #4D2C5E;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.purple:hover {
    transform: scale(1.05);
}

.box1,
.box2,
.box3 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 10px;
}

.box1 h3,
.box2 h3,
.box3 h3 {
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

.box1 p,
.box2 p,
.box3 p {
    display: flex;
    align-items: center;
    color: white;
    font-weight: 400;
    font-size: 0.7rem;
}

.box1 .img1 img,
.box2 .img2 img,
.box3 .img3 img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}
    
    @media (min-width:320px) and (max-width: 768px) {
        .purple {
           display: none;
            
                }
            
            
            .box1, .box2, .box3{
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                column-gap: 10px;
                
            }
            .box1 h3, .box2 h3, .box3 h3{
                display: flex;
                align-items: center;
                color: white;
                font-weight: bold;
                font-size: 0.5rem; 
                
            
            }
            .box1 p, .box2 p, .box3 p{
                display: flex;
                align-items: center;
                color: white;
                font-weight: 400; 
                font-size: 0.5rem; 
            }
            .box1 .img1 img , .box2 .img2 img, .box3 .img3 img{
                width:50px;
                height:50px;
            }
            
        
    }
    
/* purple ends */

/* categories starts */
.categories {
    display: flex;
    justify-content: space-around;
}

.categories div {
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.categories div:hover {
    transform: scale(1.1);
}
#top{
    font-weight: bolder;
    margin-left: 25px;
}


@media (min-width: 320px) and (max-width:768) {
    .categories{
        display: flex;
        justify-content: space-evenly;
        
    }
    
    #top{
        font-weight: bolder;
        margin-left: 25px;
    }
    
}


/* categories ends */

/* premium starts */

.premium{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.premium .card{
   margin-top: 10px;
}

#premiumcourses{
    font-weight: bolder;
    margin-left: 25px;
    color: #004949;
}



/* premium ends */

/* founder starts */

.founders{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.founders img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit:cover;
    

}
.founders h6{
 font-weight: bolder;
    

}

#developers{
    font-weight: bolder;
    margin-left: 25px;
    color: #004949;
}

/* founder ends */

/* view starts */

.view{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.view a{
    color: black;
    font-weight: bolder;
    text-decoration: none;
    text-decoration: none;

}


/* view ends */



