
* {
    margin: 0px;
    padding: 0px;
    font-family: Inter;
    
    
}

:root {
    --main-color: #007E7E;
}

/* Header starts */
.header .nav-item {
    margin: auto 1rem;
}

.header .nav-item a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.header .title {
    color: var(--main-color);
    font-weight: 200;
    font-size: 40px;
    text-transform: capitalize;
    text-decoration: none;
    align-items: center;
}

.header select {
    border: none;
}

/* Hero Section starts */
.search input {
    width: 500px;
    border-radius: 15px;
    border: 2px solid #339C9C;
    height: 40px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}


/* section1 */

.section1 button {
    position: relative;
    left: 300px;
    top: -50px;
    border-radius: 7px;
    border: none;
    height: 40px;
    padding: 5px 20px ;
    background-color: #0E8585;
    color: white;
    font-weight:700;
    
}

.hero h2{
    color: var(--main-color);
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: capitalize;
}
